.Home {
    background-color: black;
    color: white;
    border-radius: 15px;
    text-decoration: none;
}

a:first {
    color: black;
}

a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition-duration: 1s;
    width: 100%;
    height: 100%;

}

div > a:hover {
    font-size: 20px;
    transition-duration: .5s;
}

.BoggleMenu > div:first-child {
    background-color: white;
    color:black;
    
}

.BoggleMenu > div > div {
    display: inline-flex;
    justify-content: space-between;
    
}

.Title {
    font-size: 49px;
    display: inline-flex;
    
}